/*main styles*/

body {
	background: #E5E5E5;
	font: normal 13px Roboto,arial,sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    visibility: visible;
}

.hide {
	display: none !important;
}


#notes-list {
	background-image: linear-gradient(#D0D0D0 75px,#F5F5F5 80px);
    background-size: 100% 150px;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    margin-bottom: 20px;
    list-style-type: none;
    min-width: 690px;
}

#notes-list li {
	display: block;
    height: 75px;
    margin-left: -40px;
    padding-left: 40px;
}

#notes-container {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

.note-element:hover {
    background: #A6D5FF;
}

.note-date, .note-text, .note-options {
	height: 35px;
    margin-right: 55px;
    margin-top: 30px;
    float: left;
}
.note-text {
	width: 350px;
	margin-top: 10px;
}
.note-text textarea,
.note-text .note-raw-text {
	padding: 0px;
    width: 100%;
    height: 60px;
    overflow-y: auto;
    margin-top: -5px;
    margin-bottom: 5px;
}

.note-text textarea{
	margin-top: -5px;
	resize: none;
}

.note-error{
	color: red;
	font-weight: bold;
	padding: 0px 10px;
}

.notes-submit {
	position: fixed;
    bottom: 2%;
    right: 3%;
}

.note-add-new {
	margin-left: 175px;
    font-weight: bold;
    padding-bottom: 30px;
}

.button {
	-webkit-box-shadow: 1px 1px 0px #666666;
	-moz-box-shadow: 1px 1px 0px #666666;
	box-shadow: 1px 1px 0px #666666;
	color: #ffffff;
	font-size: 18px;
	background: #FF6118;
	text-decoration: none;
	border: 0px; 
	cursor: pointer;
	padding: 5px;
}

/*table styles*/
table.simple {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    width: 60%;
}

table.simple th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

table.simple td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}